:root {
  --primary-100:#FF4081;
  --primary-200:#ff79b0;
  --primary-300:#ffe4ff;
  --accent-100:#00BCD4;
  --accent-200:#005e74;
  --text-100:#333333;
  --text-200:#5c5c5c;
  --text-300:#8b8b8b;
  --bg-100:#F5F5F5;
  --bg-200:#ebebeb;
  --bg-300:#c2c2c2;
  --speed: 500ms;
  --nav-bg:#ffffff;
  gap:0;
}

.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 30vw;
  height: fit-content;
  border-radius: 1rem; 
  overflow: hidden;
  font-size: 16px;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 1rem;
}
.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: #BCFEFA;
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: black;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: lightslategray;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}



.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.child { 
  grid-area: 1 / 1 / 2 / 3; 
  background-color:coral;
  min-height: 100vh;
}


.notificationContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  align-items: center;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  text-align: center;
}

.EventList {
  height: 100vh;
}