.footer{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
}
.coloring {
    background-color: #FFC7C7;
    max-height: fit-content;
}
.footer-previous{
    width: 100%;
    height: auto;
    margin:0;
}
.footer-bottom-text{
    color: gray;
}

.footer-logos{
    color:gray;
    width: 2rem;
    height: 2rem;
    margin: .5rem;
}
.footer-logos:hover{
    color:var(--primary-100);
}

.footer-social-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
}
.spacer {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./Wave.svg');
}