.explicacion{
    display: block;
}
.contenedor {
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: aquamarine;
    height: 50vh;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
  }