@font-face {
  font-family: 'Inter Variable';
  src: url('assets/Fonts/Inter-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}
 /*****************************************************/
 /**************Generate idea button******************/
  .generate-idea-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 8px;
    background-color: #062142;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    align-items: center;
    justify-content: center;

  }
  
  /* Hover effect */
  .generate-idea-button:hover {
    background-color: #113868;
    color: #fff;
  }
  
  /* Active effect (when button is clicked) */
  .generate-idea-button:active {
    background-color: #134c91;
    color: #fff;
  }

/*****************************************************/
/******************Categories*****************************/

  .categories-container {
    display: flex;
    justify-content: center;
  }
  .Badge {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #F06292;
    border-radius: 5px;
    background-color: #F06292;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover effect */
  .category-button:hover {
    background-color: #F06292;
    color: #fff;
  }
  
  /* Active effect (when button is clicked) */
  .category-button:active {
    background-color: #ffe4ff;
    color: #fff;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;

  }
/*****************************************************/
/******************Categories*****************************/
  .Background-container{
    position: relative;
    width: 100%;
    height: 80vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    background: url('Background.svg') no-repeat center center fixed;
    background-size: cover;
    
}

#dateIdea {
    font-size: 18px;
    margin-top: 20px;
}

#dateIdea {
    font-size: 75PX;
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Adjust height as needed */
  }

