@font-face {
  font-family: 'Inter Variable';
  src: url('assets/Fonts/Inter-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

/*****************************************************/
 /**************Generate idea button******************/
  .generateIdeaButton {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 8px;
    background-color: #062142;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    align-items: center;
    justify-content: center;
  }
  
  /* Hover effect */
  .generateIdeaButton:hover {
    background-color: #113868;
    color: #fff;
  }
  
  /* Active effect (when button is clicked) */
  .generateIdeaButton:active {
    background-color: #134c91;
    color: #fff;
  }

/**********************************************************/
/******************Categories*****************************/
  .categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/*****************************************************/
/******************Categories*****************************/
  .BackgroundContainer{
    position: relative;
    width: 100%;
    height: 100%; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    background:  radial-gradient(circle, rgba(255,255,255,0.1) 26%, rgba(252,205,238,0.5) 65%) no-repeat center center fixed;

    
    background-size: cover;
    
}
.DateIdea {
    font-size: clamp(20px, 5vw + 1rem, 100px);
    margin:2vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.containerIdeas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

  .footerBottomRextIdeas{
 width: 100%;
position:absolute;
bottom: 0;
margin: 1vh auto;
text-align: center;
  }
