:root {
    --primary-100:#FF4081;
    --primary-200:#ff79b0;
    --primary-300:#ffe4ff;
    --accent-100:#00BCD4;
    --accent-200:#005e74;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F5F5F5;
    --bg-200:#ebebeb;
    --bg-300:#c2c2c2;
    --speed: 500ms;
    gap:0;
  }
@font-face {
    font-family: 'Inter Variable';
    src: url('assets/Fonts/Inter-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
*{
    min-width: 0;
    font: inherit;
}

*, *::before ,*::after{
    box-sizing: border-box;
}

img, video, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
}
h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:var(--text-100);
    gap: 0;
}
.gameGrid{
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(22rem);
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    justify-content: center;
    align-items: center;
    margin: 30px;
    z-index: 0;
}

.gamePage-title{
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    font-weight: 900;
}
.gamePage-Desc{
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    font-weight: bolder;
}

/*==============================================================*/
/*========================NAVBAR================================*/
/*==============================================================*/
.nav-head {
    background-color: var(--nav-bg);
    color: var(--text-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
}

.nav-ul { 
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.nav a {
    text-decoration: none;
    color: var(--text-100);
    font-weight: bold;
    font-size: 16px;
    height: fit-content;
}
nav ul li a.current {
    text-decoration: underline;
    font-weight: bold; /* Puedes agregar negrita para hacerlo más prominente */
}
nav a:hover {
    color: var(--primary-100); /* Change the color on hover */
    /* You can add additional styles like background color or underline */
}
.logo-container img{
    width: fit-content;
    height: 2rem;
    margin: 25px;
}
.nav-logos{
    width: 1.5rem;
    height: 1.5rem;
    overflow: visible;
    color:var(--text-100);
}
.nav-logos:hover{
    color:var(--primary-100);
}
.nav-donate{
    margin:10px;
    background-color: transparent;
    border: 1px solid var(--primary-100);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--text-100) ;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: auto;
    height: min-content;
}
.social-buttons{
    display: flex;
    gap:1rem;
    margin:0px 10px;
    overflow: hidden;
    vertical-align: text-top;
    align-items: center;
    color:var(--text-100)
}
/*===============================================================*/
/*========================BUTTONS================================*/
/*===============================================================*/
.button-fav {
    background-color: var(--bg-100);
    border: 1px solid var(--bg-300);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--text-100), var(--text-200);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: auto;
    height: fit-content;
}
.button-fav.active {
    background-color: var(--text-100);
    color: var(--bg-100);   
}
.Notificación {
        text-align: center;
        color:gray;
}

.backtotop{
    position: fixed;
    bottom: 2vh;
   width: 2rem;
   height: 2rem;
    right: 2vw;
    font-size: 1.25rem;
    background-color: var(--primary-200);
    color:var(--text-100);
    border-radius: 50%;
    border: 0px;
    color: var(--text-200);
    box-shadow: 0px 0px 10px var(--text-100);
    transition: 1000ms;
}
.backtotop:hover{
    background-color: var(--accent-100);
}
/*===============================================================*/
/*====================DROPDOWN BUTTON=============================*/
/*===============================================================*/
.button-dropdown {
    background-color: var(--bg-100);
    border: 1px solid var(--bg-300);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--text-100);
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: auto;
    height: fit-content;
}
.Centrado-botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    height: 2.5rem;
}

  .contenedor-filtros{
    position:relative;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--bg-100);
    display:flex;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0px 0px 10px var(--text-100)22231;
    top:10px;
}
  .contenedor-filtros::before{
    position:absolute;
    content: '';
    top: -.5rem;
    display: inline;
    background-color: var(--bg-100);
    transform: rotate(45deg);
    width: 1.41rem;
    height: 1.41rem;
    z-index: -100;
}

.contenedor-filtros.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}
.contenedor-filtros.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}
  .checkbox-label {
    height: max-content;
    padding:10px;
    font-family: 'Inter Variable' ,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 1rem;
    display: flex;
    vertical-align: center;
    color:#1e293b;
  }
  .checkbox-label:hover{
    background-color:  var(--primary-300);
    border-radius: 15px;
  }
  .checkbox{
    cursor: pointer;
    background-color: var(--bg-100);
    width: 1rem;
    height: 1rem;
    appearance: none;
    border: 2px solid var(--bg-300);
    transition: background-color 0.3s ease-in-out;
    border-radius: 25%;
  }

  .checkbox:checked{
    
    background-color: var(--text-100);
    color: var(--bg-100);
  }

  .checkbox:focus {
    border-color: var(--text-200);
  } 