@font-face {
    font-family: 'Inter Variable';
    src: url('assets/Fonts/Inter-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter Variable', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: "Background.svg";
}
.gameGrid{
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(22rem);
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.gamePage-title{
    font-family: 'Inter Variable' , sans-serif;
    text-align: center;
    font-weight: 900;
}
.gamePage-Desc{
    font-family: 'Inter Variable' , sans-serif;
    text-align: center;
    font-weight: bolder;
}

/*==============================================================*/
/*========================NAVBAR================================*/
/*==============================================================*/
.nav-head {
    background-color:#f3d9d9;
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 90v;
}

.nav-ul { 
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    height: fit-content;
}
nav ul li a.current {
    text-decoration: underline;
    font-weight: bold; /* Puedes agregar negrita para hacerlo más prominente */
}
nav a:hover {
    color: #c95e94; /* Change the color on hover */
    /* You can add additional styles like background color or underline */
}
.logo-container img{
    width: 25px;
    height: 25px;
}
.nav-logos{
    width: 25px;
    height: 25px;
    overflow: hidden;
    margin:10px;
    color:#222;
}
.nav-donate{
    background-color: transparent;
    border: 1px solid #04AA6D;
    border-radius: 20px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: auto;
    height: min-content;
}
.social-buttons{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    margin:0px 10px;
}
/*===============================================================*/
/*========================BUTTONS================================*/
/*===============================================================*/
.button-fav {
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: 8px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: auto;
}
.Centrado-botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}