/* Navbar.module.css */
.navHead {
    background-color: var(--nav-bg);
    color: var(--text-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
  }
  
  .navUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0;
  }
  
  .navLink {
    text-decoration: none;
    color: var(--text-100);
    font-weight: bold;
    font-size: 16px;
    height: fit-content;
    transition: all 0.2s ease-in-out; /* Added transition for hover effect */
  }
  .navdiv {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navLink:hover, .navLink:active {
    color: var(--primary-100); /* Change the color on hover */
    transform: scale(1.1); /* Added hover effect */
  }
  
  .current {
    text-decoration: underline;
    font-weight: bold; /* You can add bold for emphasis */
  }
  .logoContainer{
    height: 5vh;
    padding: 5px;
  }
  .logoContainer img {
    height: 2rem;
  }
  .logoContainer img:hover {
    transform: scale(1.1); /* Added hover effect */
  }
  .icon{
    width: 1.5rem;
    height: 1.5rem;
  }


  .navLogos {
    width: 1.5rem;
    height: 1.5rem;
    overflow: visible;
    color: var(--text-100);
    transition: all 0.2s ease-in-out; /* Added transition for hover effect */
  }
  
  .navLogos:hover {
    color: var(--primary-100); /* Change the color on hover */
    transform: scale(1.1); /* Added hover effect */
  }
  
  .navDonate {
    margin: 10px;
    background-color: transparent;
    border: 1px solid var(--primary-100);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--text-100);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    outline: none;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: auto;
    height: min-content;
    margin: 3px;
  }
  .navDonate:hover {
    color: var(--primary-100); /* Change the color on hover */
    transform: scale(1.1); /* Added hover effect */
  }

  .socialButtons {
    display: flex;
    gap: 1rem;
    margin: 0px 10px;
    overflow: hidden;
    vertical-align: text-top;
    align-items: center;
    color: var(--text-100);
  }

  .navclosebtn {
    visibility: hidden;
    opacity: 0;
  }
  
  .navbton{
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-100);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
  }

  @media only screen and (max-width:600px)
  {
   .navbton{
    display:block;
    visibility: visible;
		opacity: 1;
   }
   .responsivenav {
    transform: translateY(200vh);
   }
   .navdiv {
    position: fixed;
		top: -200vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1vh;
		background-color: var(--nav-bg);
		transition: 1s;
    z-index: 100;
   }
   

   div .navclosebtn {
    position: absolute;
		top: 2rem;
		right: 2rem;
   }

   .navUl {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0;
   }
   .socialButtons{
    position: relative;
    bottom: -30vh;
   }
  }